@model ReportViewModel
@{
    var key = "Success";
    var show = false;
    if (TempData[key] != null)
    {
        show = Convert.ToBoolean(TempData[key]);
        TempData.Remove(key);
    }

    var sett = Model.Setting;
    var sms = Model.Sms;
    var email = Model.Email;
}

<div class="container">
    <div id="saveTips" class="alert alert-success hidden text-center">
        <strong>Success！</strong>
    </div>
    <h2>Report Config</h2>
    <h2 id="tipsMessage" class="p-3 mb-2 bg-success text-white" data-placement="top"></h2>
    <div class="panel panel-info">
        <form class="form-group" action="/Config/Setting" method="post">
            <div class="panel-heading bg-info">
                <nav class="navbar navbar-light bg-light">
                    <div class="navbar-brand">
                        <label>Foundation</label>
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </nav>
            </div>
            <div class="panel-body">
                Enable <input class="form-control" type="text" id="On" name="On" value="@sett.On.ToString().ToLower()" />
                Report stage（Seconds）<input class="form-control" type="text" id="Time" name="Time" value="@sett.Time" />
                Trigger threshold<input class="form-control" type="text" id="Count" name="Count" value="@sett.Count" />
                Monitor Levels(Support Trace;Debug;Information;Warning;Error;Critical;None，Multiple levels are split with ";")
                <input class="form-control" type="text" id="Levels" name="Levels" value="@sett.Levels" />
            </div>
        </form>
    </div>
    <div class="panel panel-danger">
        <form class="form-group" action="/Config/Sms" method="post">
            <div class="panel-heading bg-danger">
                <nav class="navbar navbar-light bg-light">
                    <div class="navbar-brand">
                        <label>SMS Config</label>
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </nav>
            </div>
            <div class="panel-body">
                Enable<input class="form-control" type="text" id="On" name="On" value="@sms.On.ToString().ToLower()" />
                Url<input class="form-control" type="text" id="Url" name="Url" value="@sms.Url" />
                HttpMethoed<input class="form-control" type="text" id="Method" name="Method" value="@sms.Method" />
                Content-Type<input class="form-control" type="text" id="ContentType" name="ContentType" value="@sms.ContentType" />
                Content(Support System Variables,<a href="#SysVariable">System Variables</a>)
                <textarea class="form-control" id="Content" name="Content">@sms.Content</textarea>
            </div>
        </form>
    </div>
    <div class="panel panel-success">
        <form class="form-group" action="/Config/Email" method="post">
            <div class="panel-heading bg-success">
                <nav class="navbar navbar-light bg-light">
                    <div class="navbar-brand">
                        <label>Email Config</label>
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </nav>
            </div>
            <div class="panel-body">
                Enable<input class="form-control" type="text" id="On" name="On" value="@email.On.ToString().ToLower()" />
                Mailbox<input class="form-control" type="text" id="UserName" name="UserName" value="@email.UserName" />
                Password<input class="form-control" type="text" id="Password" name="Password" value="@email.Password" />
                Host<input class="form-control" type="text" id="Host" name="Host" value="@email.Host" />
                Port<input class="form-control" type="text" id="Port" name="Port" value="@email.Port" />
                Receiver<input class="form-control" type="text" id="Receiver" name="Receiver" value="@email.Receiver" />
                CC<input class="form-control" type="text" id="CC" name="CC" value="@email.CC" />
                Subject(Support System Variables,<a href="#SysVariable">System Variables</a>)
                <input class="form-control" type="text" id="Title" name="Title" value="@email.Title" />
                Contnet(Support System Variables,<a href="#SysVariable">System Variables</a>)
                <textarea class="form-control" id="Content" name="Content">@email.Content</textarea>
                SSL<input class="form-control" type="tel" id="SSL" name="SSL" value="@email.SSL.ToString().ToLower()" />
            </div>
        </form>
    </div>

    @Html.Partial("SysVariables")

    @section Scripts{
        @if (show)
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#saveTips").removeClass("hidden");
                    var alertClose = setTimeout(function () {
                        $("#saveTips").slideUp();
                    }, 500);
                })
            </script>
        }
    }
</div>