@model ProjectConfigViewModel
@{
    var key = "Success";
    var show = false;
    if (TempData[key] != null)
    {
        show = Convert.ToBoolean(TempData[key]);
        TempData.Remove(key);
    }
}

<div class="container">
    <div id="saveTips" class="alert alert-success invisible text-center">
        <strong>Success！</strong>
    </div>
    @if (!ViewBag.IsValid)
    {
        <div class="bg-warning">
            <h3>Error On:</h3>
            <div class="text-danger">
                @Html.ValidationSummary()
            </div>
        </div>
    }
    <h2>Report Config</h2>
    <form class="form-group" action="/ProConfig/Detail" method="post">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a href="/ProConfig" class="btn btn-success">Back to list</a>
        <div class="panel panel-info">
            <div class="panel-heading bg-info"></div>
            <div class="panel-body">
                ProjectName <input class="form-control" type="text" id="Setting_ProjectName" name="Setting_ProjectName" value="@Model.Setting_ProjectName" />
                Enable <input class="form-control" type="text" id="Setting_On" name="Setting_On" value="@Model.Setting_On.ToString().ToLower()" />
                Report stage（Seconds）<input class="form-control" type="text" id="Setting_Time" name="Setting_Time" value="@Model.Setting_Time" />
                Trigger threshold<input class="form-control" type="text" id="Setting_Count" name="Setting_Count" value="@Model.Setting_Count" />
                Monitor Levels(Support Trace;Debug;Information;Warning;Error;Critical;None，Multiple levels are split with ";")
                <input class="form-control" type="text" id="Setting_Levels" name="Setting_Levels" value="@Model.Setting_Levels" />
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading bg-danger"></div>
            <div class="panel-body">
                Enable<input class="form-control" type="text" id="Sms_On" name="Sms_On" value="@Model.Sms_On.ToString().ToLower()" />
                Url<input class="form-control" type="text" id="Sms_Url" name="Sms_Url" value="@Model.Sms_Url" />
                HttpMethoed<input class="form-control" type="text" id="Sms_Method" name="Sms_Method" value="@Model.Sms_Method" />
                Content-Type<input class="form-control" type="text" id="Sms_ContentType" name="Sms_ContentType" value="@Model.Sms_ContentType" />
                Content(Support System Variables,<a href="#SysVariable">System Variables</a>)
                <textarea class="form-control" id="Sms_Content" name="Sms_Content">@Model.Sms_Content</textarea>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading bg-success"></div>
            <div class="panel-body">
                Enable<input class="form-control" type="text" id="Email_On" name="Email_On" value="@Model.Email_On.ToString().ToLower()" />
                Mailbox<input class="form-control" type="text" id="Email_UserName" name="Email_UserName" value="@Model.Email_UserName" />
                Password<input class="form-control" type="text" id="Email_Password" name="Email_Password" value="@Model.Email_Password" />
                Host<input class="form-control" type="text" id="Email_Host" name="Email_Host" value="@Model.Email_Host" />
                Port<input class="form-control" type="text" id="Email_Port" name="Email_Port" value="@Model.Email_Port" />
                Receiver<input class="form-control" type="text" id="Email_Receiver" name="Email_Receiver" value="@Model.Email_Receiver" />
                CC<input class="form-control" type="text" id="Email_CC" name="Email_CC" value="@Model.Email_CC" />
                Subject(Support System Variables,<a href="#SysVariable">System Variables</a>)
                <input class="form-control" type="text" id="Email_Title" name="Email_Title" value="@Model.Email_Title" />
                Content(Support System Variables,<a href="#SysVariable">System Variables</a>)
                <textarea class="form-control" id="Email_Content" name="Email_Content">@Model.Email_Content</textarea>
                SSL<input class="form-control" type="tel" id="Email_SSL" name="Email_SSL" value="@Model.Email_SSL.ToString().ToLower()" />
            </div>
        </div>
    </form>
    @Html.Partial("SysVariables")

    @section Scripts{
        @if (show)
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#saveTips").removeClass("invisible");
                    var alertClose = setTimeout(function () {
                        $("#saveTips").slideUp();
                    }, 500);
                })
            </script>
        }
    }
</div>